body {
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.cardSetup {
    margin: 6em 6em 3em 3em;
    width: 40vw; 
    color: #c2c2c2;
}
.jumbotron {
    padding: 0.5em!important;
    margin-bottom: 0.5em!important;
}
.form-control {
    border-radius: 1em!important;
}
input {
    border-radius: 1em!important;
    border: 1px solid!important;
    outline: 0;
    padding: 0em 0.5em;
}
.btn {
    border-radius: 1em!important;
}
* {
    user-select: none;
}
.cardSetupLarge {
    margin: 6em 6em 3em 3em;
    width: 90vw; 
    color: #c2c2c2;
}
.tableWrapper {
    position: relative;
    height: 60vh;
    overflow: auto;
}
.tableScroll {
    display: block;
}

tr:hover {
    background-color: #c2c2c2;
    border-color: #c2c2c2;
    cursor: pointer;
}

.cardTableBody {
    padding: 0!important;
}
.jumbotronTableHeader {
    margin-bottom: 0em!important;
}

.inline {
    display: inline-flex;
}
.centerItem {
    margin: 0.25em 0em 0em 0.4em;
}
.centerContent {
    vertical-align: middle!important;
}

.smallerFont {
    font-size: 2rem!important;
}

.flexTitle {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.flexInline {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.fa,.fas {
    padding: 0em 0.5em 0em 0em;
}
td{
    text-align: center;
}