{% extends 'base.html' %}

{% block title %}Courses{% endblock %}

{% block content %}

{% load bootstrap4 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% bootstrap_messages %}


<div class="container-fluid">
	<div class="row">
		<div class="col">
			<div class="card cardSetupLarge shadow">
				<div class="jumbotron jumbotron-fluid jumbotronTableHeader">
					<div class="container">
						<h1 class="display-4 inline">Courses
							<form class="form form-inline centerItem" method="GET" action="{% url 'new course' %}">
								<button type="submit" class="btn btn-success">new</button>
							</form>
						</h1>
					</div>
				</div>
				<div class="cardTableBody card-body tableWrapper tableScroll">
					<table class="table">
						<thead class="thead-dark">
							<tr>
								<th scope="col">Ime</th>
								<th scope="col">Kod</th>
								<th scope="col">Program</th>
								<th scope="col">Bodovi</th>
								<th scope="col">Semestar Redovni</th>
								<th scope="col">Semestar Izvanredni</th>
								<th scope="col">Izborni</th>
								<th scope="col"></th>
								<th scope="col"></th>
							</tr>
						</thead>
						<tbody>
							{% for course in courses %}
							<tr>
								<th>{{ course.ime }}</th>
								<td>{{ course.kod }}</td>
								<td>{{ course.program  }}</td>
								<td>{{ course.bodovi }}</td>
								<td>{{ course.sem_redovni }}</td>
								<td>{{ course.sem_izvanredni }}</td>
								<td>{{ course.izborni }}</td>
								<td>
									<form method="GET" action="{% url 'course details' id=course.id %}">
										<button type="submit" class="btn btn-info">expand</button>
									</form>
								</td>
								<td>
									<form method="GET" action="{% url 'course delete' id=course.id %}">
										<button type="submit" class="btn btn-danger">delete</button>
									</form>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}