{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}

{% load bootstrap4 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% bootstrap_messages %}


<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card cardSetup shadow">
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h1 class="display-4">Register</h1>
          </div>
        </div>
        <div class="card-body">
          <form action="" method="post" class="form">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% bootstrap_form_errors form layout='inline' %}
            {% buttons %}
              <button type="submit" class="btn btn-primary">
                Submit
              </button>
            {% endbuttons %}
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="{% static 'js/formValidations.js' %}"></script>
{% endblock %}